div{
text-align: center;
}
ul{
	display: inline-block;
	text-align: left;
}
.exper2{
text-align: center;
}
ol{
	display: inline-block;
	text-align: left;
}
*{
	font-family: Impact;
	
}
.color{
	color: Black;
}
.color2{
	color: Black;
}
.color3{
	color: Black;
}
.color4{
	color: Black;
}
.color5{
	color: Black;
	
}
.color6{
	color: Black;
}
img{
	border: 5px Black dashed;
	
}

a:visited{
	color: Black;
}
body{
	background-color: White;
}
