body{
	background-color: #459649;
	text-align: center;
}

h1{
	font-size: 85px;
	font-family: 'Permanent Marker', cursive;
	color: #BEC743;
	margin-bottom: 15px;
}

h2{
	font-family: 'Lato', sans-serif;
	color: #44844E;
	font-size: 45px;
}

a{
	font-family: 'Lato', sans-serif;
	color: #44844E;
	text-decoration: underline;
	font-size: 25px;
}

.tooltip{
	position: relative;
	z-index: 20;
}

.tooltip span{
	display: none;
}

.tooltip:hover;{
	z-index: 21;
}
.tooltip:hover span{
	display: block;
	width: 250px;
	text-align: center;
	padding: 5px;
	color: #459649;
	background-color: #BEC743;
	text-decoration: none;
	position: absolute;
	border-radius: 6px;

}

.tooltip:hover span.spanbig{
	bottom: 200px;
	left: 400px;
}